name: CI
permissions:
  contents: read

on:
  push:
  pull_request:
  release:
    types: [published]
  schedule:
    - cron: '00 6 * * *'  # daily at 6AM UTC
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: prefix-dev/setup-pixi@v0.8.14
        with:
          pixi-version: v0.46.0
          cache: false
      - name: Run checks
        run: pixi run check
